In [1]:
%load_ext autoreload
import sys
from pathlib import Path

sys.path.append(str(Path('..').resolve()))
import os

if os.path.basename(os.getcwd()) == "tests":
    os.chdir("..")

In [2]:
from QuartoRL import process_match

[06-03 10:53:03][INFO] 2025-06-03 10:53:03.222366
[06-03 10:53:06][DEBUG] Creating logger for Quartopy game
[06-03 10:53:06][INFO] 2025-06-03 10:53:06.289925
[06-03 10:53:06][DEBUG] quartopy.game.quarto_game importado correctamente
Directorio de bots integrado: C:\Users\Jonathan Zea\Documents\GitHub\Quartopy\bot

In [3]:
a, b = process_match(
    "c:/Users/Jonathan Zea/Documents/GitHub/hierarchical-SAE/partidas_guardadas/delet/20250603_1026/2025-06-03_10-26-50_match001.csv",
    result=-1,
)
b

                                         observation    action  reward
0  0000000000000000000000000000000000000000000000...   (10, 8)       1
1  0000000000000000000000000000000000000000000000...  (12, 11)       1
2  0000000000000000000000000000000000000000000000...   (14, 3)       1
3  0000000000000000000000000000000000000000000000...    (2, 0)       1
4  0000000010000000000000000000000000010000000000...    (3, 1)       1
5  0000000010000000000000000000000100010000000000...    (4, 7)       1
6  0000000010000000000000000000000100010000000000...   (1, -1)       1